<html>
    <div class="container-fluid">
        <h1><%= title %></h1>
    </div>
<head></head>
<body>
<table>
<tr><img src="F Logo!.png" height = "100px"/></tr>
<tr>
<td><a href="/home">Home</a></td>
<td><a href="about">About me</a></td>
<td><a href="/projects">Projects</a></td>
<td><a href="/services">Services</a></td>
<td><a href="/contact1">Contact Me</a></td>
</tr>
</table>
<tr>
    </tr>
    <tr>
    <h5 valign="top">About me: </h5>
    <td>
    My name is Shemal Grey. I am currently a student at Centennial College. <br>
    I was born and raised in Toronto Otario. <br>
    My current hobbies are streaming to Twitch and making youtube videos.
    </td>
    </tr>
    </body>
    </html>