<html>
    <div class="container-fluid">
        <h1><%= title %></h1>
    </div>
<head></head>
<body>
<table>
<tr>
<td><a href="/home">Home</a></td>
<td><a href="about">About me</a></td>
<td><a href="/projects">Projects</a></td>
<td><a href="/services">Services</a></td>
<td><a href="/contact">Contact Me</a></td>
</tr>
</table>
<table>
<div style="padding-top: 20px;">
    <h2>Development Services</h2>
    <ol>
    <li>Website Development</li>
    <li>Android app Development</li>
    <li>Database development</li>
    </ol>
    </div>
    </body>
</table>
</html>